<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Videogiochi</title>
	</head>
	<body>
		<div>
			<form th:action="@{/sviluppatori/edit}" th:object="${sviluppatore}" method="post">
				<input type="hidden" th:field="*{id}">
				<div>
					<label for="">Nome: </label>
					<input type="text" id="nome" th:field="*{nome}" required>
				</div>
				<!-- <input type="submit" value="Salva"> -->
				<button type="submit">Salva</button>
				<a th:href="@{/sviluppatori/list}">Annulla</a>
			</form>
		</div>
	</body>
</html>